<%= render "public/shared/links" %> 
<div class="container">
  <div class="row">
    <div class=" mx-auto w-75">
      <div class=" mt-5">
        <div class="border">
          <p>ようこそ、ながのCAKEへ!<br>
             このサイトは、ケーキ販売のECサイトになります.<br>
             会員ではない方も商品の閲覧は出来ますが、<br>
             購入には会員登録が必要になります。</p>
        </div>
        <div class="mt-5">
          <h3>新着商品</h3>
          新着商品を最新から４つだけ表示させる聞く
        </div>
      </div>
    </div>
  </div>
</div>